.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: flex;
}

.quiz-container {
    background-color: #C40B08;
    align-content: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quiz {
    background-color:#C40B08;
    padding: 5rem;
    display: flex;
    flex-direction: column;
}

#game-display {
    text-align: center;
    width: 50rem;
}

/*---Game Progress----*/

.game-display-item {
    text-align: center;
}

#progress-text {
    text-align: center;
    font-size: 2.5rem;
}

#progress-bar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #ffffff;
    border-radius: 12.5rem;
    margin: 0 auto;
}

#progress-bar-full {
    height: 100%;
    background: #ffffff;
    width: 0%;
    border-radius: 12.5rem;
}

#score-label {
    font-size: 2.5rem;
}

#score {
    font-size: 5rem;
}

/*---Questions & Answers---*/

#question {
    font-size: 3.75rem;
    margin: 0 auto 2.5rem;
    text-align: center;
}

.answer-container {
    display: flex;
    color: #ffffff;
    background-color: #C40B08;
    border: 0.2rem solid #ffffff;
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    justify-content: left;
    padding: 0.625rem 1.25rem 0.625rem;
    border-radius: 1.25rem;
}

.answer-container:hover {
    color: #C40B08;
    background-color: #ffffff;
}

.answer-label {
    margin-right: 2.5rem;
}

.answer-text {
    width: 100%;
}
