.start-container {
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#start {
   display: flex;
   flex-direction: column;
   background-color:#C40B08;
}

#ready {
    font-size: 5rem;
    color: #ffffff;
}

.btn {
    font-size: 2.5rem;
    color: rgb(86, 11, 173);
    padding: 2.5rem 0;
    margin: 1.25rem auto;
    width: 37.5rem;
    border: 3px solid#ffffff;
    background-color: #ffffff;
}

.btn:hover {
    color: #ffffff;
    background-color: transparent;
    border: 3px solid#ffffff;
}