@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Bubblegum Sans", cursive;
  background-color: #ffffff;
  background-image: url("../images/animeTriviaBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
